<!doctype HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
		<script src="js/bootstrap.js"></script>

		<script type="text/javascript">
			$(document).ready(function() {
				console.log("Initializing P150 JS Client ...");

				// initialize some of our views
				var cpuId = -1;
				var cpuState = {
					ir: 0,
					ip: 0,
					mem: new Uint8Array(256),
					reg: new Uint8Array(16)
				};

				// formats `reg` into a matrix of 1x16 cells
				var viewReg = function(inArr) {
					var table = { head: ['ADDR', 'VAL'], body: [] };
					for (var row = 0; row < 16; row++) {
						table.body.push([fmtHex(row), fmtHex(inArr[row])]);
					};
					
					return table;
				};

				// formats `mem` into a matrix of 16x16 cells
				var viewMem = function(inArr) {
					var table  = { head: ['ROW'], body: [] };
					
					// print header row
					for (var col = 0; col < 16; col++) {
						table.head.push(col.toString(16));
					}

					for (var row = 0; row < 16; row++) {
						var memRow = {rowIdx: row.toString(16), cells: []};
						var offset = row * 16;
						for (var col = 0; col < 16; col++) {
							memRow.cells.push(fmtHex(inArr[offset + col]));
						}

						table.body.push(memRow);
					}

					return table;
				};

				var fmtHex = function(num) {
					return ("00" + num.toString(16)).substr(-2);
				};

				Handlebars.registerHelper('fmtHex', function(num) {
					return ("0000" + num.toString(16)).substr(-4);
		  		});

				var tCpuSrc = $('#cpu-template').html();
				var tCpu = Handlebars.compile(tCpuSrc);

				var tRegSrc = $('#register-template').html();
				var tReg = Handlebars.compile(tRegSrc);

				var tMemSrc = $('#memory-template').html();
				var tMem = Handlebars.compile(tMemSrc);

				loadCpu = function(cpuState) {
					$('#cpu-core').html(tCpu(cpuState));
					$('#cpu-box').html(tReg(viewReg(cpuState.reg)));
					$('#cpu-box').append(tMem(viewMem(cpuState.mem)));

					$('#init-machine').on('click', function(evt) {
						loadMem();
					});

					$('#tick-machine').on('click', function(evt) {
						tickMem();
					});

					$('#run-machine').on('click', function(evt) {
						runMem();
					});
				};

				//init-machine, run-machine
				var initCpu = function() {
					return $.post('/cpu/new', function(data) {
						cpuId = JSON.parse(data);
					});
				};

				var dumpCpu = function(data, txtStatus, jqXHR) {
					return $.get('/cpu/' + cpuId + '/dump', function(data) {
		 				// parse and load cpu state
						console.log('dumping cpu ...');
						
						cpuState = JSON.parse(data);
						loadCpu(cpuState);
					});
				};

				var loadMem = function() {
					var memArr = [];
					$('#cpu-mem tr').each(function(rIdx, row) {
						if (rIdx == 0) { return; }
						var offset = (rIdx - 1) * 16;
						var tableCells = $(this).find('td input');
						tableCells.each(function(cIdx, row) {
							memArr[offset + cIdx] = $(this).val();
						});
					});

					console.log(memArr);
					
					console.log("calling ajax");
					return $.post('/cpu/' + cpuId + '/load', JSON.stringify(memArr), function(data) {
						console.log("cpu load: GREAT SUCCESS ^^,");

						cpuState = JSON.parse(data);
						loadCpu(cpuState);
					});
				};

				var tickMem = function() {
					return $.post('/cpu/' + cpuId + '/tick', function(data) {
						console.log("cpu ran successfully, loading ...");
						cpuState = JSON.parse(data);
						loadCpu(cpuState);
					});
				};
				var runMem = function() {
					return $.post('/cpu/' + cpuId + '/run', function(data) {
						console.log("cpu ran successfully, loading ...");
						cpuState = JSON.parse(data);
						loadCpu(cpuState);
					});
				};

				initCpu().then(dumpCpu);
			});
		</script>
		<link href="css/bootstrap.css" rel="stylesheet" />
		<link href="css/bootstrap-theme.css" rel="stylesheet" />
		<link href="css/main.css" rel="stylesheet" />
		
		<title>{{title}}</title>
	</head>

	<body>
		<div class="container">
			<div class="page-header">
				<h1>PANTHER150 Machine Emulator</h1>
				<p class="lead">
					The little CPU that could ...
				</p>

				<ul class="nav nav-pills">
					<li><a href="/">Emulator</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</div>

			<div class="row">
				<div class="col-md-8">
					<div id="cpu-core" class="row col-md-12"></div>
					<div id="cpu-box" class="row col-md-12">
						Fetching a new CPU, please wait :-) ...
					</div>
				</div> <!-- end main panel -->

				<div class="col-md-3 .col-md-offset-1 panel panel-default">
					<h3>Welcome!</h3>
					<p>
						This is a web-frontend to a P150 emulator.
						The P150 machine supports:
						<ul>
							<li>256-bytes of memory</li>
							<li>16-bytes of registers</li>
							<li>2-byte instructions</li>
							<li>Up to 16 different opcodes</li>
						</ul>
					</p>

					<p>The CPU supports two modes of operation: step-by-step, and program execute.</p>
					<p>
						Begin by loading your program into the memory cells on the right side of the screen.
						(The CPU will always begin execution at address <code>0x00</code>.)
					</p>

					<p>
						<ul>
							<li>
							Enter your program into the memory cells. Each cell takes two hexadecimal digits.
							</li>
							<li>
							Click the `Load` button to store your program in your CPU and reset the program
							counter to zero.
							</li>
							<li>
							Click the `Run` button to run the program.
							</li>
							<li>
							The server will attempt to run your program and display the results
							</li>
						</ul>

					</p>

					<p class="alert alert-warning">
						The CPU server will only run up to 10,000 instructions.
						<br /><br />
						The CPU will be forcibly halted at this point; and the current
						state of the CPU at the last executed instruction will be returned.
					</p>
				</div> <!-- end sidebar well -->
			</div>
			<div class="footer">
				<div class="container">
					<p class="text-muted"> &copy; 2014 Robbie Straw, All Rights Reserved. </p>
				</div>
			</div>
		</div>

		{{=<% %>=}}

		<script id="cpu-template" type="text/x-handlebars-template">
		<div class="col-sm-3 col-md-3">
			<h3>CPU State</h3>
			<table id="cpu-core" class="memory table table-bordered">
				<thead>
					<th>REG</th>
					<th>VAL</th>
				</thead>
				<tbody>
					<tr>
						<td>IP</td>
						<td>{{fmtHex ip}}</td>
					</tr>
					<tr>
						<td>IR</td>
						<td>{{fmtHex ir}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-8 col-sm-offset-1">
			<div class="row panel panel-default col-md-12">
			Coming soon: instruction trace viewer
			</div>
			<div class="row col-md-12">
				<input id="init-machine" class="btn btn-primary" type="button" value="Load" />
				<input id="run-machine"  class="btn btn-primary" type="button" value="Run" />
				<input id="tick-machine"  class="btn btn-primary" type="button" value="Step" >
			</div>
		</div>
		</script>

		<script id="register-template" type="text/x-handlebars-template">
		<div class="col-sm-2 col-md-2">
		<h3> Registers </h3>
		<table id="cpu-reg" class="memory table table-bordered">
			<thead>
				{{#each head}}
					<th>{{this}}</th>
				{{/each}}
			</thead>
			<tbody>
				{{#each body}}
					<tr>
						{{#each this}}
							<td>{{this}}</td>
						{{/each}}
					</tr>
				{{/each}}
			</tbody>
		</table>
		</div>
		</script>

		<script id="memory-template" type="text/x-handlebars-template">
		<div class="col-sm-10 col-md-8 col-md-offset-1">
		<h3> Memory Bank #1 </h3>
		<table id="cpu-mem" class="memory table table-bordered">
			<thead>
				{{#each head}}
					<th>{{this}}</th>
				{{/each}}
			</thead>
			<tbody>
				{{#each body}}
					<tr>
						<td> {{this.rowIdx}} </td>
						{{#each this.cells}}
							<td>
								<input type="textbox" value="{{this}}" size="2" />
							</td>
						{{/each}}
					</tr>
				{{/each}}
			</tbody>
		</table>
		</div>
		</script>
		<%={{ }}=%>
	</body>
</html>
